<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICurrencyUpdate" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICurrencyUpdate">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CurrencyUpdate" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICurrencyUpdate" contract="WinCurrencyService.ICurrencyUpdate"
                name="BasicHttpBinding_ICurrencyUpdate" />
            <endpoint address="net.tcp://localhost:38555/CurrencyUpdate"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICurrencyUpdate"
                contract="WinCurrencyService.ICurrencyUpdate" name="NetTcpBinding_ICurrencyUpdate">
                <identity>
                    <userPrincipalName value="DESKTOP-QCHKCRS\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>